* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.html linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
/.github export-ignore
CHANGELOG.md export-ignore
